.card {
  margin: 1em;
}

p{
  font-family: 'Dosis', sans-serif;
}

.Card-first {
  color: white;
  width: auto;
  padding: 1em;

  -webkit-box-shadow: 13px 5px 22px -2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 13px 5px 22px -2px rgba(0, 0, 0, 0.63);
  box-shadow: 13px 5px 22px -2px rgba(0, 0, 0, 0.63);

  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  border-radius: 20px;
}

.Card-body{
  display: inline-flex;
}

.container-body-1{
  margin-top: 1em;
}
.container-body-1 > p{
  font-size: 4em;
}
.container-body-1 .container-body-2 {
  display: inline-block;
}
.container-body-2{
margin-left: 24em;
}
.Card-title {
  font-size: 2em;
}

.Card-Text {
  vertical-align: top;
  font-size: 1.5em;
}

.image-card {
  width: 20em;
}
